<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Add user</title>
    <link rel="stylesheet" href="css/reset1.css"/>
    <link rel="stylesheet" href="css/homeHead.css"/>
    <link rel="stylesheet" href="css/homePublic.css"/>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/chmod.css"/>

    <script src="../js/alert_add_user.js"></script>
</head>


<div style = "margin-bottom: 80px; margin-top: 60px", class="ret">
    <body>
    <form action="/add" method="POST">
        <div class="homeCen">
            <div class="homeCen_left">
                <ul>
                    <li class="off"><a href="/adminPage">HomePage</a></li>
                    <li class="off"><a href="/password">Settings</a></li>
                    <li><a href="mywrite">Posts</a></li>
                    <li><a href="/mymsg">Messages</a></li>
                    <li class="on"><a href="/chmod">Modify rules</a></li>
                </ul>
            </div>
            <div class="homeCen_right">
                <div class="baseHead">
                    <ul>
                        <li><a href="/add" class="on">Add a user</a></li>
                    </ul>
                </div>
                <div class="baseCon">
                    <div class="baseCon_son">
                        <div class="baseCon_son_left">
                            Username
                        </div>
                        <div class="baseCon_son_right">
                            <input type="text" name="Username" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="baseCon_son">
                        <div class="baseCon_son_left">
                            Password
                        </div>
                        <div class="baseCon_son_right">
                            <input type="text" name="password" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="baseCon_son">
                        <div class="baseCon_son_left">
                            Confirm Password
                        </div>
                        <div class="baseCon_son_right">
                            <input type="text" name="repeat_psw" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="baseCon_son">
                        <div class="baseCon_son_left">
                            Authority
                        </div>
                        <div class="baseCon_son_right">
                            <select name="Authority" style="width:100%;height: 100%; font-size: 14px;border: none;">
                                <option value="Student" selected = "selected">Student</option>
                                <option value="Administrator">Administrator</option>
                            </select>
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="upload_sure" autocomplete="off"/>
                </div>
            </div>
        </div>
    </form>
    </body>
</div>
</html>