<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Forum homepage</title>
    <link rel="stylesheet" href="css/reset1.css"/>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <script src="../js/alert_mute.js"></script>
</head>
<body>

<div class="indexMain">
    <div class="indexMain_left">

        <div class="indexMain_left_con">
            <form action="/index" method="POST">
                <div class="indexCon_msg">
                        <div class="indexCon_msg_pic"></div>
                        <div class="indexCon_msg_detail">
                            <a href="">
                                <div class="indexCon_msg_detail_tittle">
                                    <span>General</span>
                                    <li>Admin</li>
                                </div>
                            </a>
                            <div class="indexCon_msg_detail_other">
                                <ul style = "padding:0; margin:0">
                                    <div class="writeFoot1"><input style = "border:0;outline:none;background-color:rgba(0,0,0,0);font-size:16px;" type = "submit" autocomplete="off" name = "1a" value = "first test"></input></div>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
            
                <div class="indexCon_msg">
                        <div class="indexCon_msg_pic"></div>
                        <div class="indexCon_msg_detail">
                            <a href="">
                                <div class="indexCon_msg_detail_tittle">
                                    <span>General</span>
                                    <li>Admin</li>
                                </div>
                            </a>
                            <div class="indexCon_msg_detail_other">
                                <ul style = "padding:0; margin:0">
                                    <div class="writeFoot1"><input style = "border:0;outline:none;background-color:rgba(0,0,0,0);font-size:16px;" type = "submit" autocomplete="off" name = "2a" value = "aaa"></input></div>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
            
                <div class="indexCon_msg">
                        <div class="indexCon_msg_pic"></div>
                        <div class="indexCon_msg_detail">
                            <a href="">
                                <div class="indexCon_msg_detail_tittle">
                                    <span>Lecture</span>
                                    <li>klaus</li>
                                </div>
                            </a>
                            <div class="indexCon_msg_detail_other">
                                <ul style = "padding:0; margin:0">
                                    <div class="writeFoot1"><input style = "border:0;outline:none;background-color:rgba(0,0,0,0);font-size:16px;" type = "submit" autocomplete="off" name = "3a" value = "hieveryone"></input></div>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
            
                <div class="indexCon_msg">
                        <div class="indexCon_msg_pic"></div>
                        <div class="indexCon_msg_detail">
                            <a href="">
                                <div class="indexCon_msg_detail_tittle">
                                    <span>Annoucement</span>
                                    <li>joyce</li>
                                </div>
                            </a>
                            <div class="indexCon_msg_detail_other">
                                <ul style = "padding:0; margin:0">
                                    <div class="writeFoot1"><input style = "border:0;outline:none;background-color:rgba(0,0,0,0);font-size:16px;" type = "submit" autocomplete="off" name = "5a" value = "this is joyce"></input></div>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
            
                <div class="indexCon_msg">
                        <div class="indexCon_msg_pic"></div>
                        <div class="indexCon_msg_detail">
                            <a href="">
                                <div class="indexCon_msg_detail_tittle">
                                    <span>General</span>
                                    <li>klaus</li>
                                </div>
                            </a>
                            <div class="indexCon_msg_detail_other">
                                <ul style = "padding:0; margin:0">
                                    <div class="writeFoot1"><input style = "border:0;outline:none;background-color:rgba(0,0,0,0);font-size:16px;" type = "submit" autocomplete="off" name = "7a" value = "&#x27;OR 1 =&#x27; 1"></input></div>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
            
                <div class="indexCon_msg">
                        <div class="indexCon_msg_pic"></div>
                        <div class="indexCon_msg_detail">
                            <a href="">
                                <div class="indexCon_msg_detail_tittle">
                                    <span>Tutorial</span>
                                    <li>klaus</li>
                                </div>
                            </a>
                            <div class="indexCon_msg_detail_other">
                                <ul style = "padding:0; margin:0">
                                    <div class="writeFoot1"><input style = "border:0;outline:none;background-color:rgba(0,0,0,0);font-size:16px;" type = "submit" autocomplete="off" name = "8a" value = "Klaus&#x27;s Post Test"></input></div>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
            
                <div class="indexCon_msg">
                        <div class="indexCon_msg_pic"></div>
                        <div class="indexCon_msg_detail">
                            <a href="">
                                <div class="indexCon_msg_detail_tittle">
                                    <span>Lab</span>
                                    <li>klaus</li>
                                </div>
                            </a>
                            <div class="indexCon_msg_detail_other">
                                <ul style = "padding:0; margin:0">
                                    <div class="writeFoot1"><input style = "border:0;outline:none;background-color:rgba(0,0,0,0);font-size:16px;" type = "submit" autocomplete="off" name = "9a" value = "Post Test"></input></div>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
            
                <div class="indexCon_msg">
                        <div class="indexCon_msg_pic"></div>
                        <div class="indexCon_msg_detail">
                            <a href="">
                                <div class="indexCon_msg_detail_tittle">
                                    <span>Assignment</span>
                                    <li>tiger</li>
                                </div>
                            </a>
                            <div class="indexCon_msg_detail_other">
                                <ul style = "padding:0; margin:0">
                                    <div class="writeFoot1"><input style = "border:0;outline:none;background-color:rgba(0,0,0,0);font-size:16px;" type = "submit" autocomplete="off" name = "10a" value = "tiger&#x27;s first post"></input></div>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                                </form>
        </div>

    </div>

    <div style = "margin-bottom: 305px" class="indexMain_right">
        <div class="indexMain_rightCon">
            <a href="/write" class="newMsg">New Posts</a>


        </div>
    </div>
    <div class="clear"></div>
</div>

</body>
</html>
<script src="js/jquery-1.8.3.min.js"></script>
<script>
    $(".indexMain_left_btn li a").click(function(){
        $(".indexMain_left_btn li a").removeClass("on");
        $(this).addClass("on");
    });
    window.onscroll=function(){
        var scrolls=document.body.scrollTop||document.documentElement.scrollTop;
        var slided=60;
        if(scrolls>=slided){
            $(".appear").hide();
            $(".navFix").show();
            $(".ltHead").addClass("navTop");
        }else{
            $(".appear").show();
            $(".navFix").hide();
            $(".ltHead").removeClass("navTop");
        }
    };
</script>