<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="css/lesson.css">
    <title>Lesson 1</title>
</head>
<body>
    <div class="lesson">
    <div class="box">
        <div class="tit">
            <h1>Lesson 1: Introduction to Web Development</h1>
        </div>
        <p>
            In this course, you will learn all about becoming a web developer and what tasks a web developer performs on a day-to-day basis. You will learn how to build a simple website, as well as the basics of HTML, JavaScript and CSS. And, of course, we also have some code examples for you to try out, which you can use as templates for your own website. We’ll introduce you to the fundamental building blocks of the web and make sure you leave this course being able to develop your very own website!
        </p>
        <p>
            So, what does it take to become a web developer? Essentially, there are only three things that you need: HTML, CSS and JavaScript, which you will learn how to use in this course. Together, these three pillars make every website work, defining the content to be displayed (HTML), telling a browser how to display that content (CSS), and making the content interactive (JavaScript), respectively.

        </p>
        <h3>Tools that will be needed for this course:</h3>
        <ul>
            <li>A text editor, which you will use to write code</li>
            <li>A web browser, which allows you to see what we’re building</li>
        </ul>
        <small>Source: CareerFoundry n.d. <i>Tutorial 1: An Introduction to Web Development</i>, accessed 30 March 2021, https://careerfoundry.com/en/tutorials/web-development-for-beginners/introduction-to-web-development/.</small>
    
        <div id="bottom-button">
            <button style="margin-left: 38% ;" onclick="window.location.href='/lessons'">Catalogue</button>
            <button onclick="window.location.href='/lesson_2'">Next</button>
        </div>
    </div>

    <button onclick="window.location.href='https://codepen.io/pen/'" id ="fixed">Practice</button> 
    </div>
    
    
    
</body>