<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="css/lesson.css">
    <title>Lesson 1</title>
</head>
<body>
    <div class="lesson">
    <div class="box">
        <div class="tit">
            <h1>Lesson 5: Web Application Frameworks</h1>
        </div>
        <p>As application development continues to evolve, the demand for teams to rapidly deliver software that can scale and evolve to meet customer needs has never been higher. Front-end development frameworks are key to making that happen.</p>
        <p>These frameworks are where the work for the layout, logic, and application is executed. These browser-based systems require JavaScript, CSS, HTML, and other web-standard technologies.</p>
        <p>So how do you choose which framework is best for you? Here are the top five frameworks that development teams are using, based on my opinion and experiences, and what you need to know about them.</p>
        <h3>Top front-end frameworks</h3>
        <p>Web browsers all compete to have the best support for open standards such as HTML, CSS, and JavaScript. There is much less work needed to test if technologies work across different web browsers. The four frameworks you should consider are:</p>
        <ul>
            <li>Angular</li>
            <li>React</li>
            <li>Vue</li>
            <li>Ember</li>
        </ul>
        <h3>1. Angular</h3>
        <p>Angular arguably has the most extended history of any on this list. Initially developed by Google in 2010, it was subsequently released as an open-source project. The framework consistently receives updates with significant releases typically delivered every six to nine months. The current major release is version 9.1. </p>
        <div class="block1">
            <h4>Pros</h4>
            <p>There is strong developer support for Angular. The documentation on the site supporting Angular development is excellent and, as a developer, you will find a lot of great how-to videos on YouTube to get you started.
                Also, Angular continues to evolve and meet the needs of web developers. To this end, the framework supports the TypeScript language (a superset of JavaScript), a progressive web app architecture for multi-format solutions, and the M-V-C (model view controller) architecture.
                Angular is also a critical component of the MEAN development stack consisting of MongoDB, ExpressJS, Angular, and NodeJS.
            </p>
            
        </div>
        <div class="block1">
            <h4>Cons</h4>
            <p>Angular's age can present a problem. In 2010, developers weren't building mobile web apps, so for several years, additions were shoehorned into Angular to accommodate them. In 2016, Angular was rewritten with TypeScript and released as Angular 4.The original version, AngularJS, was renamed as Angular.
                Unfortunately, previous versions of Angular aren't compatible with the new TypeScript version in Angular 4. That's important to know if any part of your organizations has used Angular and you're thinking of going this direction for compatibility reasons. <br/>     
            </p>
            
        </div>
        <h3 style>Bottom line</h3>
        <p>Angular has grown and adapted to modern development needs. If you go this route, use the newer Angular 4 and later versions for building Angular apps. And be sure to keep a close eye on the Angular blog to keep up with the latest improvements to the framework.</p>
        <h3>2. React</h3>
        <p>Many development groups will choose either Angular or React as the base foundation for their web applications. The logic makes sense, and both are mature. Both deliver applications that can run massive web apps, and both have strong communities where developers can share information.</p>
        <p>But where Angular went with TypeScript, React leverages JavaScript extensively. Facebook, along with individual contributors and other companies, maintain React.</p>
        <div class="block2">
            <h4>Pros</h4>
            <p>Some very large companies—including Facebook, Netflix, Dropbox, Airbnb, and Reddit—use React as their front-end framework. These sites receive millions of views per day. React has proved itself to be able to scale and meet the needs of the most demanding web apps.
                Additionally, the skills you learn for React also apply to ReactNative, a framework that developers can use to build native applications that run on the iOS and Android mobile operating systems.                
            </p>
        </div>
        <div class="block2">
            <h4>Cons</h4>
            <p>React is not easy to learn. The entire architecture is built in JavaScript, so you must be an experienced developer to start with React.   
            </p>
        </div>
        <h3>Bottom line</h3>
        <p>The learning curve with React is steep, but the result is a modular architecture that can support the most demanding websites. Facebook and the open-source community continue to invest in the growth of React, which ensures that investing in React will reward you for years into the future.</p>
        <h3>3. Vue</h3>
        <p>The selling point for Vue is the size of the framework. At only 20KB, this is one of the most lightweight frameworks on the list. The inspiration for Vue came from work the original developer completed on Angular. In 2014, Vue was released as a slimmed-down alternative to Angular and has maintained a cult following ever since.</p>
        <div class="block3">
            <h4>Pros</h4>
            <p>Much like Angular, getting up to speed with Vue is not difficult. You can leverage your skills with HTML, CSS, and JavaScript. You can also build templates and components in Vue, much as you would with ReactJS.                
            </p>
        </div>
        <div class="block3">
            <h4>Cons</h4>
            <p>Many developers rank Vue as a third-choice framework, behind Angular and React. To this end, the community supporting Vue is much smaller, and the development of the framework is not as robust as other, more popular frameworks.   
            </p>
        </div>
        <h3>Bottom line</h3>
        <p>Vue is an excellent alternative framework to learn and leverage as you need. It is a contending framework and could potentially be a smart alternative to Angular.
        </p>
        <h3>4. Ember</h3>
        <p>Ember is one of the younger frameworks on this list. Released in 2011, its focus is on helping you build complex web applications. It offers:</p>
        <ul>
            <li>More productivity right out of the box when compared to others on this list</li>
            <li>Stability without stagnation</li>
            <li>Support for HTML5</li>
        </ul>
        <p>With these principles and continuous development, Ember is now in use for many large and popular applications, such as Apple Music, LinkedIn, and Square.</p>
        <div class="block4">
            <h4>Pros</h4>
            <p>The modular architecture and many hundreds of plugins make Ember a framework that gives you a lot right out of the starting gate. Also, solutions built with Ember can be converted into native applications such as Apple Music.                
            </p>
        </div>
        <div class="block4">
            <h4>Cons</h4>
            <p>Ember leverages modules to extend the framework. The challenge as a developer is knowing which modules you should be using. Besides, there is a learning curve required to get started with Ember.   
            </p>
        </div>
        <h3>Bottom line</h3>
        <P>Ember is evolving quickly into a mature and stable alternative for building web apps and native apps when compared to React.Native and Angular.</P>
        <small>Source: David, M n.d., <i>The 5 Best Web Application Frameworks: How to Choose, TechBeacon</i>, accessed 30 March 2021, 
            https://techbeacon.com/app-dev-testing/five-best-web-application-frameworks-how-choose.</small>
        <div id="bottom-button">
            <button style="margin-left: 38%;" onclick="window.location.href='/lesson_4'">Previous</button>
            <button onclick="window.location.href='/lessons'">Catalogue</button>
            <button onclick="window.location.href='/lesson_6'">Next</button>
        </div>
    </div>
        
        <button onclick="window.location.href='https://codepen.io/pen/'" id ="fixed">Practice</button> 
    </div>
</body>