<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="css/lesson.css">
    <title>Lesson 2</title>
</head>
<body>
    <div class="lesson">
    <div class="box">
        
        <div class="tit">
            <h1>Lesson 2: HTML Basics</h1>
        </div>
        <p>HTML (HyperText Markup Language) was created by Tim Berners-Lee, Robert Cailliau, and others starting in 1989. Hypertext means that the document contains links that allow the reader to jump to other places in the document, while a Markup Language is a way that computers speak to each other to control how text is processed and presented. To do this HTML uses two things: tags and attributes.</p>
        <h3>Tags and Attribute</h3>
        <p>Tags are used to mark up the start of an HTML element and they are usually enclosed in angle brackets. An example of a tag is: &lth1&gt. Most tags must be opened &lth1&gt and closed &lt/h1&gt in order to function. </p>
        <p>Attributes contain additional pieces of information. Attributes take the form of an opening tag and additional info is placed inside. An example of an attribute is:</p>
        <p>&ltimg src="mydog.jpg" alt="A photo of my dog."&gt</p>
        <h3>Basic Construction of an HTML Page</h3>
        <p>There is a few tags that should be placed underneath each other at the top of every HTML page, and these are:</p>
        <p>&lthtml&gt— This tag signals that from here on we are going to write in HTML code.</p>
        <p>&lthead&gt — This is where all the metadata for the page goes — stuff mostly meant for search </p>
        <p>&ltbody&gt — This is where the content of the page goes.</p>
        <p>
            <img src="img/lesson2_1.PNG"  height="80%">
            This is how your average HTML page is structured visually.
        </p>
        <h3>Adding Text in HTML</h3>
        <p>You can add text to an HTMl page using an element opened with the tag <p>, which basically creates a new paragraph. We place all of our text inside this element. There are also other HTML elements that we may use :</p>
        <p>
            <img src="img/lesson2_2.PNG"  height="80%">
        </p>
        <small>Source: HTML n.d., <i>HTML For Beginners The Easy Way: Start Learning HTML & CSS Today</i>, accessed 30 March 2021, https://html.com/.</small>

        <div id="bottom-button">
            <button style="margin-left: 38% ;" onclick="window.location.href='/lesson_1'">Previous</button>
            <button onclick="window.location.href='/lessons'">Catalogue</button>
            <button onclick="window.location.href='/lesson_3'">Next</button>
        </div>
    </div>
    
    
    <button onclick="window.location.href='https://codepen.io/pen/'" id ="fixed">Practice</button> 

    </div>
</body>