<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="css/lesson.css">
    <title>Lesson 1</title>
</head>
<body>
    <div class="lesson">
    <div class="box">
        <div class="tit">
            <h1>Lesson 3: CSS Basics</h1>
        </div>
        <p>
            CSS (Cascading Style Sheets) is the code that styles web content. Like HTML, CSS is not a programming language. It's not a markup language either. CSS is a style sheet language. CSS is what you use to selectively style HTML elements. For example, this CSS selects paragraph text, setting the color to red:
        </p>
        <p>
            p {<br>
                color: red;<br>
              }
              
        </p>
        <h3>The Anatomy of a CSS Rule Set</h3>
        <p>
            <img src="img/lesson3_1.PNG"  height="80%">
            The structure provided in the image above is called a ruleset. The structure contains several individual parts as you may have noticed:
        </p>
        <p><b>Selector:</b>This is the HTML element name at the start of the ruleset which defines the elements to be styled.</p>
        <p><b>Declaration:</b>This is the HTML element name at the start of the ruleset which defines the elements to be styled.</p>
        <p><b>Properties:</b>This is the HTML element name at the start of the ruleset which defines the elements to be styled.</p>
        <p><b>Property value:</b>This is the HTML element name at the start of the ruleset which defines the elements to be styled.</p>
        <ul>
            <li>Apart from the selector, each rule set must be wrapped in curly braces. ({})</li>
            <li>Within each declaration, you must use a colon (:) to separate the property from its value or values.</li>
            <li>Within each ruleset, you must use a semicolon (;) to separate each declaration from the next one.</li>
        </ul>
        <h3>Different Types of Selectors</h3>
        <p>
            <img src="img/lesson3_2.PNG"  height="80%">
           
        </p>
        <small>Source:  Mozilla n.d., <i>CSS Basics, MDN Web Docs</i>, accessed 30 March 2021, https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics.</small>
        
        <div id="bottom-button">
            <button style="margin-left: 38% ;" onclick="window.location.href='/lesson_2'">Previous</button>
            <button onclick="window.location.href='/lessons'">Catalogue</button>
            <button onclick="window.location.href='/lesson_4'">Next</button>
        </div>
    </div>
        
        <button onclick="window.location.href='https://codepen.io/pen/'" id ="fixed">Practice</button> 
    </div>
    
    
    
</body>