<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Post Content</title>
    <link rel="stylesheet" href="css/reset1.css"/>
    <link rel="stylesheet" href="css/public.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <script src="../js/alert_comment_empty.js"></script>
</head>
<body>

<div class="indexMain">
    <div class="indexMain_left">
        <div class="tzCon">
            <div class="tzCon_head">
                <div class="tzCon_head_left"></div>
                    <div class="tzCon_head_right">
                        <h1>hieveryone</h1>
                        <ul>
                            <li>klaus</li>
                        </ul>
                    </div>
                </div>
                <div class="clear">
                </div>
                <div class="tzCon_con">
                    dsggs
                </div>
            </div>
            <div class="newPending">
                <div class="newPending_head">
                    <div class="tzHeng"></div>
                    <div class="newPending_head_tittle">comments</div>
                </div>
    
        <div class="newPending_son">
            <div class="pendPic"></div>
            <div class="pendDetail">
                <div class="pendDetail_con">
                    <p>zzz123</p>
                    <p>comment</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
            
        <div class="newPending_son">
            <div class="pendPic"></div>
            <div class="pendDetail">
                <div class="pendDetail_con">
                    <p>zzz123</p>
                    <p>hi</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
            
        <div class="newPending_son">
            <div class="pendPic"></div>
            <div class="pendDetail">
                <div class="pendDetail_con">
                    <p>klaus</p>
                    <p>hi this is klaus</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
            
        <div class="newPending_son">
            <div class="pendPic"></div>
            <div class="pendDetail">
                <div class="pendDetail_con">
                    <p>klaus</p>
                    <p>Comment Test, This is 2022.May 5th</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
            
        <div class="newPending_son">
            <div class="pendPic"></div>
            <div class="pendDetail">
                <div class="pendDetail_con">
                    <p>tiger</p>
                    <p>make comments</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
            
        </div>
        <form action="/Forum?id=3" method="post">
            <div class="writePending">
                <div class="writePending_con">
                    <input type="text" name = "content" autocomplete="off" placeholder="Write Your Comments..."/>
                    <input type="submit" name="willa" value="Comment"/>
                </div>
            </div>
        </form>
        </div>
    <div class="indexMain_right">
        <a href="/write" class="newMsg">New Post</a>
    </div>
    <div class="clear"></div>
</div>

</body>
</html>
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/tiezi.js"></script>
<script>

</script>